article {
  margin: 20px auto;
  padding: 20px;
  background-color: white;
}

.item-detail-container {
  display: flex;

  .item-detail-img-container {
    flex: 2;
    margin-right: 10px;
    text-align: center;

    img {
      width: 100%;
      max-width: 400px;
    }
  }

  .item-detail-info {
    flex: 1;

    .item-detail-condition-sold {
      color: #888888;
    }

    .item-detail-price {
      font-size: 28px;
      font-weight: normal;
    }

    .item-detail-buy {
      padding: 10px;
      background-color: #3483fa;
      color: white;
      border-radius: 4px;
      border: none;
      width: 100%;
    }
  }
}

.item-detail-description-title {
  font-size: 20px;
}

.item-detail-description-text {
  color: #444;
}

.breadcrumb {
  margin: 10px 0 0 30px;
}
